.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: top 0.2s ease-out;
  z-index: 1000;
}

.ModalClose {
  top: -100%;
}
