.SearchBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SearchButton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}
